<h1>My Profile</h1>
First name: <%= @user.first_name %><br>
Last name: <%= @user.last_name %><br>
Stores I'm Subscribed To: 
<% @user_stores.each do |user_store| %>
  <p><%= user_store.name %></p>
<% end %>