<!-- <h1>Leave A Review On This Item!</h1>
<%= form_tag "do/review", method: :post  %>
  <div>
    :
    <input type="email" name="email">
  </div>

  <div>
    Password:
    <input type="password" name="password">
  </div> -->
  <div class="widget search margin-bottom-none">
        <i class="icon material-icons search"></i>
        <%= form_tag "/review", method: :post do %>
          <input type="text" name="form_name" class="form-control input-sm" placeholder="Type Review Here">
          <input type="submit" value="post">
        <% end %>
      </div>